.widget-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 20px;
  .item1,
  .item2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .item1 {
    .text1 {
      font-family: "Red Rose";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 13px;
      color: #434343;
    }
    .text2 {
      font-family: "Red Rose";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 13px;
      color: #434343;
    }
  }
  .item2 {
    .text3,
    .text4 {
      font-family: "Red Rose";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 13px;
      color: #434343;
    }
  }
  .widget-content {
    width: 100%;
    .widget-img {
      width: 100%;
    }
  }
}
